@model WebApplication1.Models.DepartmentItemBridge

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DepartmentItemBridge</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.departmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.departmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.productName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.bridgeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
